@import url('http://fonts.cdnfonts.com/css/mortal-kombat');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mortal Kombat 4', sans-serif;
    text-align: center;
}

/* ========== General ========== */

.primary-title {
    font-size: 90px;
    background-color: white;
}

.primary-btn{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    background: linear-gradient(45deg,#800909, #fb8a20);
    padding: 6px 26px;
    border-radius: 30px;
    cursor: pointer;
    color: #d2d3d3;
    transition: all 0.3s linear;
    border: none;
}


.primary-btn:hover {
    background: linear-gradient(280deg,#800909, #fb8a20);
}



/* ========== Navbar ========== */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container {
    max-width: 170px;
    margin: 15px;
    color: #be1111;
}

nav .logo-container .logo{
    width: 100%;
    border-radius: 50%;
}

nav .nav-btn{
    color:#800909;
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
}
nav .nav-btn:disabled{
    background-color: #a5a1a1;
   
}

/* ========== Home ========== */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
    ),
    url('https://i.pinimg.com/originals/fe/ac/19/feac1900edaa37aab7caa382d321dbba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    margin-top: 30vh;
}

/* ========== Auth Modal ========== */
.auth-modal {
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
    cursor: pointer;
}

.secondary-btn{
    color: #e77e1b;
    background-color: #eef0f0;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    transition: all 0.3s linear;
    border: 2px solid #bd5c02;
    margin: 6px;
}

.secondary-btn:hover{
    background-color: #a5a1a1;
    color: #ff9939;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}

/* ========== Boarding Page ========== */

.onboarding{
    border-top: 1px solid gray;
}

.onboarding form {
    display: flex;
    justify-content: center;

}

.onboarding form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
}

.onboarding form input {
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: start;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0;
}

.onboarding form label{
    margin: 10px 0;
    text-align: start;
}

.onboarding form .multiple-input-container {
    display: flex;
    flex-direction: row;
}

.onboarding form .multiple-input-container input {
    margin-right: 10px;
}

.onboarding form .multiple-input-container label {
    padding: 10px;
    border: 2px solid #e77e1b;
    border-radius: 10px;
    /* transition: all 0.3s; */
    margin-right: 10px;
}

.onboarding form input[type="radio"]{
    display: none;
}

.onboarding form input[type="number"]{
   width: 15%;
}

.onboarding form input[type="radio"]:checked + label {
    border: 3px solid #800909;
} 

.onboarding form input[type="submit"] {
    text-align: center;
    cursor: pointer;
}

.onboarding form input[type="submit"]:hover {
    background-color: rgb(235, 235, 235);
    
}

.onboarding form input[type="submit"]:active {
    background-color: #be1111;
    color: white;
}

.onboarding form .photo-container img {
    width: 100%;

}

/* ========== Dashboard ========== */

.dashboard {
    display: flex;
    justify-content: space-around;
}

.dashboard .swipe-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.swipe {
    position: absolute;
  }
  
  .dashboard .card-container {
    width: 400px;
    height: 650px;
  }
  
  .card {
    width: 400px;
    height: 650px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    border: 1px solid #800909;
  }
  
  
  .card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: black;
  }
  
  .dashboard .swipe-info {
      position: absolute;
      bottom: 0;
      padding: 10px;
  }

  /* ========== Chat Container ========== */

  .chat-container {
      background-color: white;
      box-shadow: rgb(0, 0, 0, 0.05) 0px 6px 24px 0px ,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      width: 30%;
      text-align: left;
      z-index: 1;
  }

  .chat-container .chat-container-header {
      background: linear-gradient(45deg,#800909, #fb8a20);
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .chat-container .option {
      border: none;
      background-color: white;
      border-bottom:4px solid  #e77e1b;
      font-size: 20px;
      margin: 2px;
      padding: 10px;
  }

  .chat-container .option:disabled{
      border-bottom: 4px solid  gray;
  }

  .chat-container .profile {
      display: flex;
      align-items: center;
      padding: 20px;
  }

  .img-container {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      overflow: hidden;
      margin: 10px;
  }
  
  .img-container img{
      width: 100%;
  }

  /* ========== Chat Display ========== */

.chat-display {
    padding: 20px;
    height: 60vh;
    overflow-y: auto;
}
/* ========== Chat Input ========== */
.chat-input {
    padding: 20px;
    display: flex;
    flex-direction: column;
}