@import url('http://fonts.cdnfonts.com/css/mortal-kombat');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mortal Kombat 4', sans-serif;
    text-align: center;
}

/* ========== General ========== */

.primary-title {
    font-size: 90px;
    background-color: white;
}

.primary-btn{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    background: linear-gradient(45deg,#800909, #fb8a20);
    padding: 6px 26px;
    border-radius: 30px;
    cursor: pointer;
    color: #d2d3d3;
    transition: all 0.3s linear;
    border: none;
}


.primary-btn:hover {
    background: linear-gradient(280deg,#800909, #fb8a20);
}



/* ========== Navbar ========== */

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .logo-container {
    max-width: 170px;
    margin: 15px;
    color: #be1111;
}

nav .logo-container .logo{
    width: 100%;
    border-radius: 50%;
}

nav .nav-btn{
    color:#800909;
    background-color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    cursor: pointer;
}
nav .nav-btn:disabled{
    background-color: #a5a1a1;
   
}

/* ========== Home ========== */
.overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.65) 0%,
        rgba(0, 0, 0, 0) 100%
    ),
    url('https://i.pinimg.com/originals/fe/ac/19/feac1900edaa37aab7caa382d321dbba.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.home{
    margin-top: 30vh;
}

/* ========== Auth Modal ========== */
.auth-modal {
    top: 175px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon {
    float: right;
    cursor: pointer;
}

.secondary-btn{
    color: #e77e1b;
    background-color: #eef0f0;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    transition: all 0.3s linear;
    border: 2px solid #bd5c02;
    margin: 6px;
}

.secondary-btn:hover{
    background-color: #a5a1a1;
    color: #ff9939;
}

.auth-modal form {
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email] {
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}